{"swagger":"2.0","info":{"description":"Use API key for authentication. An API key is a token that a client provides when making API calls. \n \nAPI key can be set in the headers with param *x-api-key*\n To get your *x-api-key* contact TechSupport","version":"1.0 - 2021-12-05 00:10","title":"SERVER-XMS","termsOfService":"Terms of service","contact":{},"license":{"name":"Apache License Version 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"}},"host":"app.mehery.io","basePath":"/xms","tags":[{"name":"Digital Analytics","description":"Analytics APIS"},{"name":"InBound Callbacks","description":"API's to be implemented by Clients, to recieve inbound messages"},{"name":"OutBound Messages","description":"API's to send OutBound Messages"}],"paths":{"/api/v1/action/event":{"post":{"tags":["InBound Callbacks"],"summary":"onActionCallback","operationId":"onActionCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"actionInfo","description":"actionInfo","required":true,"schema":{"$ref":"#/definitions/InBoundAction"}},{"name":"x-verify-token","in":"header","description":"Callback Verification Token","required":false,"type":"string","default":"s1agenttoken$$$"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InBoundAction"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contact/info":{"post":{"tags":["InBound Callbacks"],"summary":"onProfileCallback","operationId":"onProfileCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"contactInfoRequest","description":"contactInfoRequest","required":true,"schema":{"$ref":"#/definitions/InBoundContact"}},{"name":"x-verify-token","in":"header","description":"Callback Verification Token","required":false,"type":"string","default":"s1agenttoken$$$"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ContactInfoUpdate"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/event/push":{"post":{"tags":["Digital Analytics"],"summary":"dataEvent","operationId":"dataEventUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"digitalEventDto","description":"digitalEventDto","required":true,"schema":{"$ref":"#/definitions/DigitalEventDto"}},{"name":"x-api-key","in":"header","description":"API Key","required":false,"type":"string","default":"thisduMmykEy4maTD0NTUsEit"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse«DigitalEventDto,object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/message/receive":{"post":{"tags":["InBound Callbacks"],"summary":"onMessageCallback","operationId":"onMessageCallbackUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"inboxMessage","description":"inboxMessage","required":true,"schema":{"$ref":"#/definitions/InBoundWrapper"}},{"name":"x-verify-token","in":"header","description":"Callback Verification Token","required":false,"type":"string","default":"s1agenttoken$$$"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/InBoundMsg"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/message/send":{"post":{"tags":["OutBound Messages"],"summary":"Send Message","description":"This API can be used to Send Message","operationId":"sendMessageUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"message","description":"message","required":true,"schema":{"$ref":"#/definitions/OutBoundMsg"}},{"name":"x-api-key","in":"header","description":"API Key","required":false,"type":"string","default":"thisduMmykEy4maTD0NTUsEit"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResponse«OutBoundReciept,object»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"securityDefinitions":{"API Key":{"type":"apiKey","name":"x-api-key","in":"header"}},"definitions":{"ApiFieldError":{"type":"object","required":["body","code","codeKey","codes","description","descriptionKey","field","obzect"],"properties":{"body":{"type":"object"},"code":{"type":"string"},"codeKey":{"type":"string"},"codes":{"type":"array","items":{"type":"string"}},"description":{"type":"string"},"descriptionKey":{"type":"string"},"field":{"type":"string"},"obzect":{"type":"string"}},"title":"ApiFieldError"},"ApiResponse«Attachment,object»":{"type":"object","required":["data","details","error","errors","exception","extra","logs","message","messageKey","meta","params","path","redirectUrl","results","status","statusKey","timestamp","traceid","warningKey","warnings"],"properties":{"data":{"$ref":"#/definitions/Attachment"},"details":{"type":"array","items":{"type":"object"}},"error":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}},"exception":{"type":"string"},"extra":{"type":"object"},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string","example":"This is success message in plain english"},"messageKey":{"type":"string","example":"MESSAGE_SUCCESS:MOBILE:12"},"meta":{"type":"object"},"params":{"type":"object"},"path":{"type":"string","example":"/postman/email/send"},"redirectUrl":{"type":"string","example":"/go/to/some/other/url.html"},"results":{"type":"array","items":{"$ref":"#/definitions/Attachment"}},"status":{"type":"string","example":200},"statusKey":{"type":"string","example":"SUCCESS"},"timestamp":{"type":"integer","format":"int64","example":1541276788518},"traceid":{"type":"string"},"warningKey":{"type":"string"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}}},"title":"ApiResponse«Attachment,object»"},"ApiResponse«DigitalEventDto,object»":{"type":"object","required":["data","details","error","errors","exception","extra","logs","message","messageKey","meta","params","path","redirectUrl","results","status","statusKey","timestamp","traceid","warningKey","warnings"],"properties":{"data":{"$ref":"#/definitions/DigitalEventDto"},"details":{"type":"array","items":{"type":"object"}},"error":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}},"exception":{"type":"string"},"extra":{"type":"object"},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string","example":"This is success message in plain english"},"messageKey":{"type":"string","example":"MESSAGE_SUCCESS:MOBILE:12"},"meta":{"type":"object"},"params":{"type":"object"},"path":{"type":"string","example":"/postman/email/send"},"redirectUrl":{"type":"string","example":"/go/to/some/other/url.html"},"results":{"type":"array","items":{"$ref":"#/definitions/DigitalEventDto"}},"status":{"type":"string","example":200},"statusKey":{"type":"string","example":"SUCCESS"},"timestamp":{"type":"integer","format":"int64","example":1541276788518},"traceid":{"type":"string"},"warningKey":{"type":"string"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}}},"title":"ApiResponse«DigitalEventDto,object»"},"ApiResponse«DigitalObjectDto,object»":{"type":"object","required":["data","details","error","errors","exception","extra","logs","message","messageKey","meta","params","path","redirectUrl","results","status","statusKey","timestamp","traceid","warningKey","warnings"],"properties":{"data":{"$ref":"#/definitions/DigitalObjectDto"},"details":{"type":"array","items":{"type":"object"}},"error":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}},"exception":{"type":"string"},"extra":{"type":"object"},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string","example":"This is success message in plain english"},"messageKey":{"type":"string","example":"MESSAGE_SUCCESS:MOBILE:12"},"meta":{"type":"object"},"params":{"type":"object"},"path":{"type":"string","example":"/postman/email/send"},"redirectUrl":{"type":"string","example":"/go/to/some/other/url.html"},"results":{"type":"array","items":{"$ref":"#/definitions/DigitalObjectDto"}},"status":{"type":"string","example":200},"statusKey":{"type":"string","example":"SUCCESS"},"timestamp":{"type":"integer","format":"int64","example":1541276788518},"traceid":{"type":"string"},"warningKey":{"type":"string"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}}},"title":"ApiResponse«DigitalObjectDto,object»"},"ApiResponse«OutBoundReciept,object»":{"type":"object","required":["data","details","error","errors","exception","extra","logs","message","messageKey","meta","params","path","redirectUrl","results","status","statusKey","timestamp","traceid","warningKey","warnings"],"properties":{"data":{"$ref":"#/definitions/OutBoundReciept"},"details":{"type":"array","items":{"type":"object"}},"error":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}},"exception":{"type":"string"},"extra":{"type":"object"},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string","example":"This is success message in plain english"},"messageKey":{"type":"string","example":"MESSAGE_SUCCESS:MOBILE:12"},"meta":{"type":"object"},"params":{"type":"object"},"path":{"type":"string","example":"/postman/email/send"},"redirectUrl":{"type":"string","example":"/go/to/some/other/url.html"},"results":{"type":"array","items":{"$ref":"#/definitions/OutBoundReciept"}},"status":{"type":"string","example":200},"statusKey":{"type":"string","example":"SUCCESS"},"timestamp":{"type":"integer","format":"int64","example":1541276788518},"traceid":{"type":"string"},"warningKey":{"type":"string"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}}},"title":"ApiResponse«OutBoundReciept,object»"},"ApiResponse«OutboxMessage,object»":{"type":"object","required":["data","details","error","errors","exception","extra","logs","message","messageKey","meta","params","path","redirectUrl","results","status","statusKey","timestamp","traceid","warningKey","warnings"],"properties":{"data":{"$ref":"#/definitions/OutboxMessage"},"details":{"type":"array","items":{"type":"object"}},"error":{"type":"string"},"errors":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}},"exception":{"type":"string"},"extra":{"type":"object"},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string","example":"This is success message in plain english"},"messageKey":{"type":"string","example":"MESSAGE_SUCCESS:MOBILE:12"},"meta":{"type":"object"},"params":{"type":"object"},"path":{"type":"string","example":"/postman/email/send"},"redirectUrl":{"type":"string","example":"/go/to/some/other/url.html"},"results":{"type":"array","items":{"$ref":"#/definitions/OutboxMessage"}},"status":{"type":"string","example":200},"statusKey":{"type":"string","example":"SUCCESS"},"timestamp":{"type":"integer","format":"int64","example":1541276788518},"traceid":{"type":"string"},"warningKey":{"type":"string"},"warnings":{"type":"array","items":{"$ref":"#/definitions/ApiFieldError"}}},"title":"ApiResponse«OutboxMessage,object»"},"Attachment":{"type":"object","required":["mediaCaption","mediaId","mediaMimeType","mediaName","mediaSrc","mediaType","mediaURL"],"properties":{"mediaCaption":{"type":"string","example":"Transaction Receipt","description":"Media Caption"},"mediaId":{"type":"string","example":12,"description":"Media ID generated by Service"},"mediaMimeType":{"type":"string","example":"image/png","description":"Mime Type"},"mediaName":{"type":"string","example":"TransactionReceipt.pdf","description":"File Name"},"mediaSrc":{"type":"string","example":"https://client.service.com/docs/media/12.png","description":"Media URL generated by Channel"},"mediaType":{"type":"string","example":"IMAGE","description":"Media Type","enum":["IMAGE","DOCUMENT","TEXT","PDF","VIDEO"]},"mediaURL":{"type":"string","example":"https://client.service.com/docs/media/12.png","description":"Media URL generated by Service"}},"title":"Attachment"},"BasicExternalTemplate":{"type":"object","required":["template","varMap"],"properties":{"template":{"type":"object"},"varMap":{"type":"object"}},"title":"BasicExternalTemplate"},"CommonMsgLocation":{"type":"object","required":["address","latitude","longitude","name"],"properties":{"address":{"type":"string","example":"1 Hacker Way, Menlo Park, CA, 94025","description":"Address Text"},"latitude":{"type":"string","example":12.909090,"description":"latitude"},"longitude":{"type":"string","example":6.908080,"description":"longitude"},"name":{"type":"string","example":"Main Building","description":"location-name"}},"title":"CommonMsgLocation"},"CommonMsgText":{"type":"object","required":["body","type"],"properties":{"body":{"type":"string","example":"your-text-message-content","description":"Message Text","notes":"Contains the text of the message, which can contain URLs and formatting."},"type":{"type":"string","example":"image","description":"Message Type"}},"title":"CommonMsgText"},"ContactInfoUpdate":{"type":"object","properties":{"email":{"type":"string","example":"abc@xyz.com","description":"EmailId if to be changed"},"labels":{"type":"array","description":"Additional Labels","items":{"$ref":"#/definitions/CustomerLabel"}},"mobile":{"type":"string","example":919988776655,"description":"Mobile Number if to be changed"},"name":{"type":"string","example":"John Doe","description":"Name if to be Channel"},"profileId":{"type":"string","example":"C34567","description":"Unique Id assigned to Contact by Core Business Application"}},"title":"ContactInfoUpdate"},"ContactMeta":{"type":"object","required":["channelType","contactId","contactType","country","csid","email","filter","keymap","lane","lang","name","phone","prefix","tenant","userid"],"properties":{"channelType":{"type":"string"},"contactId":{"type":"string"},"contactType":{"type":"string"},"country":{"type":"string"},"csid":{"type":"string"},"email":{"type":"string"},"filter":{"type":"array","items":{"$ref":"#/definitions/Map«string,object»"}},"keymap":{"type":"array","items":{"$ref":"#/definitions/Map«string,string»"}},"lane":{"type":"string"},"lang":{"type":"string","enum":["AB","AE","AF","AK","AM","AN","AR","AS","AV","AY","AZ","BA","BE","BG","BH","BI","BM","BN","BO","BR","BS","CA","CE","CH","CO","CR","CS","CU","CV","CY","DA","DE","DV","DZ","EE","EL","EN","EO","ES","ET","EU","FA","FF","FI","FJ","FO","FR","FY","GA","GD","GL","GN","GU","GV","HA","HI","HO","HR","HT","HU","HY","HZ","IA","IN","IE","IG","II","IK","IO","IS","IT","IU","IW","JA","JI","JV","KA","KG","KI","KJ","KK","KL","KM","KN","KO","KR","KS","KU","KV","KW","KY","LA","LB","LG","LI","LN","LO","LT","LU","LV","MG","MH","MI","MK","ML","MN","MO","MR","MS","MT","MY","NA","NB","ND","NE","NG","NL","NN","NO","NR","NV","NY","OC","OJ","OM","OR","OS","PA","PI","PL","PS","PT","QU","RM","RN","RO","RU","RW","SA","SC","SD","SE","SG","SI","SK","SL","SM","SN","SO","SQ","SR","SS","ST","SU","SV","SW","TA","TE","TG","TH","TI","TK","TL","PH","TN","TO","TR","TS","TT","TW","TY","UG","UK","UR","UZ","VE","VI","VO","WA","WO","XH","YO","ZA","ZH","ZU"]},"name":{"type":"string"},"phone":{"type":"string"},"prefix":{"type":"string"},"tenant":{"type":"string"},"userid":{"type":"string"}},"title":"ContactMeta"},"Contactable":{"type":"object","required":["channelType","contactId","contactType","csid","email","lane","name","phone"],"properties":{"channelType":{"type":"string"},"contactId":{"type":"string"},"contactType":{"type":"string"},"csid":{"type":"string"},"email":{"type":"string"},"lane":{"type":"string"},"name":{"type":"string"},"phone":{"type":"string"}},"title":"Contactable"},"CustomerLabel":{"type":"object","required":["key","value"],"properties":{"format":{"type":"string","example":"MM/DD/YY","description":"Data Format","enum":["MM/DD/YY"]},"key":{"type":"string","example":"CUSTOMER_TYPE","description":"Unique LabelType"},"name":{"type":"string","example":"Customer Type","description":"Display LabelType, Labels with same name will be grouped together, if not provided key will be used instead"},"type":{"type":"string","example":"TEXT","description":"Type of Label","enum":["TEXT","DATE","NUMBER","LIST"]},"value":{"type":"object","example":"Platinum","description":"Value of Label Value"}},"title":"CustomerLabel"},"DigitalEventDto":{"type":"object","required":["eventName","id","links"],"properties":{"eventName":{"type":"string","example":"CUSTOMER_CREATED","description":"Event Name and action "},"id":{"type":"string","example":1234567,"description":"Unique  Id assigined by event "},"links":{"type":"array","items":{"$ref":"#/definitions/DigitalObjectLink"}}},"title":"DigitalEventDto"},"DigitalObjectDto":{"type":"object","required":["data","id","links","type"],"properties":{"data":{"type":"object"},"id":{"type":"string"},"links":{"type":"array","items":{"$ref":"#/definitions/DigitalObjectLink"}},"type":{"type":"string"}},"title":"DigitalObjectDto"},"DigitalObjectLink":{"type":"object","required":["linkName","linkType","linkValue"],"properties":{"linkName":{"type":"string"},"linkType":{"type":"string"},"linkValue":{"type":"string"}},"title":"DigitalObjectLink"},"InBoundAction":{"type":"object","required":["actionCode"],"properties":{"actionCode":{"type":"string","example":"SEND_INVOICE","description":"Action Triggered by Agent/Service"}},"title":"InBoundAction"},"InBoundContact":{"type":"object","required":["contactId","contactType","lane","profile"],"properties":{"contactId":{"type":"string","example":1234567,"description":"Unique Id assigined to user by Service"},"contactType":{"type":"string","example":"WHATSAPP","description":"Contact Type","enum":["SMS","EMAIL","WHATSAPP","PUSH","FACEBOOK","TELEGRAM","WEBSITE","TWITTER","INSTAGRAM","DUMMY","EMPTY"]},"csid":{"type":"string","example":"91YOURNUMBER","description":"Channel Specific ID"},"lane":{"type":"string","example":919999998888,"description":"Contact Used by User while sending messageeg your business number or email address"},"profile":{"$ref":"#/definitions/InBoundContactProfile"},"profileId":{"type":"string","example":"C34567","description":"Unique Id assigned to Contact by Core Business Application"}},"title":"InBoundContact"},"InBoundContactProfile":{"type":"object","properties":{"email":{"type":"string","example":"abc@xyz.com","description":"Email Id collected from Channel"},"mobile":{"type":"string","example":919988776655,"description":"Mobile Number collected from Channel"},"name":{"type":"string","example":"John Doe","description":"Name collected from Channel"}},"title":"InBoundContactProfile"},"InBoundMsg":{"type":"object","required":["audio","contactId","document","from","id","image","location","messageIdExt","originalMessage","session","tags","text","timestamp","type","video","voice"],"properties":{"audio":{"$ref":"#/definitions/InBoundMsgMedia"},"contactId":{"type":"string","example":"WA919988776655","description":"Unique Contact Id of user"},"document":{"$ref":"#/definitions/InBoundMsgMedia"},"from":{"type":"string","example":919988776655,"description":"Contact of user"},"id":{"type":"string","example":1234567,"description":"Unique Message Id assigined by Service"},"image":{"$ref":"#/definitions/InBoundMsgMedia"},"location":{"$ref":"#/definitions/CommonMsgLocation"},"messageIdExt":{"type":"string","example":1234567,"description":"Unique Message Id assigined by Channel if any"},"originalMessage":{"type":"object","example":{},"description":"Original Message sent by Channel :  only if modified/error by service"},"session":{"$ref":"#/definitions/MsgSession"},"tags":{"description":"Several Tags/Categories Assigned by our ML/NLP program","$ref":"#/definitions/TagDocument"},"text":{"$ref":"#/definitions/CommonMsgText"},"timestamp":{"type":"integer","format":"int64","example":156753339076,"description":"message-timestamp"},"type":{"type":"string","example":"text","description":"message-type","enum":["audio","document","image","location","system","text","video","voice"]},"video":{"$ref":"#/definitions/InBoundMsgMedia"},"voice":{"$ref":"#/definitions/InBoundMsgMedia"}},"title":"InBoundMsg"},"InBoundMsgMedia":{"type":"object","required":["id","link","mime_type","sha256","type"],"properties":{"caption":{"type":"string","example":"document-caption","description":"The provided caption for the media."},"filename":{"type":"string","example":"document-filename","description":"Filename on the sender's device.","notes":"This will only be present in document media messages."},"id":{"type":"string","example":2121212,"description":"ID of the media","notes":"Can be used to delete the media if stored locally on the client."},"link":{"type":"string","example":"http(s)://link-to-media-file-url","description":"link-to-audio-file"},"mime_type":{"type":"string","example":"video/mp4","description":"Mime type of the media."},"sha256":{"type":"string","example":"m3232kaoe4belrr","description":"checksum"},"type":{"type":"string","example":"image","description":"Message Type"}},"title":"InBoundMsgMedia"},"InBoundWrapper":{"type":"object","required":["actions","contacts","messages"],"properties":{"actions":{"type":"array","items":{"$ref":"#/definitions/InBoundAction"}},"contacts":{"type":"array","items":{"$ref":"#/definitions/InBoundContact"}},"messages":{"type":"array","items":{"$ref":"#/definitions/InBoundMsg"}}},"title":"InBoundWrapper"},"Map«string,object»":{"type":"object","title":"Map«string,object»","additionalProperties":{"type":"object"}},"Map«string,string»":{"type":"object","title":"Map«string,string»","additionalProperties":{"type":"string"}},"MessageSession":{"type":"object","required":["agent","dept","mode","resolved"],"properties":{"agent":{"type":"string"},"dept":{"type":"string"},"mode":{"type":"string"},"resolved":{"type":"boolean"}},"title":"MessageSession"},"MsgSession":{"type":"object","required":["assignedToAgent","assignedToDept","sessionId"],"properties":{"assignedToAgent":{"type":"string","example":"SUPPORT","description":"Message Assignment If Any"},"assignedToDept":{"type":"string","example":"SUPPORT","description":"Message Assignment If Any"},"sessionId":{"type":"string","example":"xsds34434","description":"SessionId"}},"title":"MsgSession"},"OutBoundContact":{"type":"object","required":["email","name","phone"],"properties":{"email":{"type":"string","description":"Email Address for email message."},"name":{"type":"string","description":"Name of to be used will, override the name in message"},"phone":{"type":"string","description":"Phone in caseo of SMS/WHATSAPP"}},"title":"OutBoundContact"},"OutBoundMsg":{"type":"object","required":["channelId","mask","to","type"],"properties":{"audio":{"$ref":"#/definitions/OutBoundMsgMedia"},"channelId":{"type":"string","example":"91SERVICENUMBER","description":"The ID that identifies the channel over which the message should be sent."},"document":{"$ref":"#/definitions/OutBoundMsgMedia"},"image":{"$ref":"#/definitions/OutBoundMsgMedia"},"mask":{"type":"boolean","example":false,"description":"Mask the outgoing message data"},"template":{"$ref":"#/definitions/OutBoundMsgTemplate"},"text":{"$ref":"#/definitions/CommonMsgText"},"to":{"description":"Either a channel-specific identifier for the receiver (e.g. MSISDN for SMS or WhatsApp channels), or email.","$ref":"#/definitions/OutBoundContact"},"type":{"type":"string","example":"text","description":"message-type","enum":["audio","document","image","location","system","text","video","voice","contacts","template","optin","optout"]},"video":{"$ref":"#/definitions/OutBoundMsgMedia"}},"title":"OutBoundMsg"},"OutBoundMsgMedia":{"type":"object","properties":{"caption":{"type":"string","example":"your-video-caption","description":"your-media-caption","notes":"Describes the specified document, image, or video media.\n\n Do not use with audio or sticker media."},"filename":{"type":"string","example":"your-video-caption","description":"your-document-filename","notes":"Describes the specified document, image, or video media.\nDescribes the filename for the specific document. Use only with document media."},"id":{"type":"string","example":"5do9756xbso34578","description":"Media Id","notes":"Required when type is audio, document, image, sticker, or video and you are not using a link.\n The media object ID. This is returned when the media is successfully uploaded to the WhatsApp Business API client via the media endpoint.\n\n Do not use this field when message type is set to text."},"link":{"type":"string","example":"http(s)://the-url","description":"Public URL of Media file","notes":"Required when type is audio, document, image, sticker, or video and you are not using an uploaded media ID.\n The protocol and URL of the media to be sent. Use only with HTTP/HTTPS URLs.\n\n\n Do not use this field when message type is set to text."}},"title":"OutBoundMsgMedia"},"OutBoundMsgTemplate":{"type":"object","properties":{"data":{"type":"object","example":{ "amount" : 10, "currency" : "INR" },"description":"Data will be used to resolve placeholders in template, in case of missing value blank will be attempted, \n Kindly note Template may be rejected in case it does not match the approved format"},"id":{"type":"string","example":"60d236c6142e53561cb7716c","description":"Unique Template Id","notes":"Explicit template.id to be used for message"}},"title":"OutBoundMsgTemplate"},"OutBoundReciept":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"gBEGkYiEB1VXAglK1ZEqA1YKPrU"}},"title":"OutBoundReciept"},"OutboxMessage":{"type":"object","required":["action","attachments","attempt","collapseId","contact","contacts","csid","files","footer","formatSubType","formatType","id","lang","lines","logs","message","messageId","messageIdExt","messageIdRef","messageType","meta","model","options","priority","queue","session","sessionId","stamps","status","subject","template","templateExt","templateId","timestamp","to","type"],"properties":{"action":{"type":"string"},"attachments":{"type":"array","items":{"$ref":"#/definitions/Attachment"}},"attempt":{"type":"integer","format":"int32"},"collapseId":{"type":"string"},"contact":{"$ref":"#/definitions/Contactable"},"contacts":{"type":"array","items":{"$ref":"#/definitions/ContactMeta"}},"csid":{"type":"string"},"files":{"type":"array","items":{"$ref":"#/definitions/PostManFile"}},"footer":{"type":"string"},"formatSubType":{"type":"string"},"formatType":{"type":"string"},"id":{"type":"string"},"lang":{"type":"string"},"lines":{"type":"array","items":{"type":"string"}},"logs":{"type":"array","items":{"type":"string"}},"message":{"type":"string"},"messageId":{"type":"string"},"messageIdExt":{"type":"string"},"messageIdRef":{"type":"string"},"messageType":{"type":"string","enum":["SOA","IT"]},"meta":{"type":"object"},"model":{"type":"object"},"options":{"type":"object"},"priority":{"type":"integer","format":"int32"},"queue":{"type":"number"},"session":{"$ref":"#/definitions/MessageSession"},"sessionId":{"type":"string"},"stamps":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}},"status":{"type":"string","enum":["SCHLD","CRTD","INIT","SENT","SENT_ERR","SENTX","SENTX_ERR","DLVRD","READ","NSENT","BLCKD","FAILD","DELTD"]},"subject":{"type":"string"},"template":{"type":"string"},"templateExt":{"$ref":"#/definitions/BasicExternalTemplate"},"templateId":{"type":"string"},"timestamp":{"type":"integer","format":"int64"},"to":{"type":"array","items":{"type":"string"}},"type":{"type":"string"}},"title":"OutboxMessage"},"PostManFile":{"type":"object","required":["body","content","contentType","converter","extension","fileFormat","fileType","headers","lang","model","name","options","password","path","template","templateId","title","url"],"properties":{"body":{"type":"string","format":"byte"},"content":{"type":"string"},"contentType":{"type":"string"},"converter":{"type":"string","enum":["AMXFS","FS","FOP","ITEXT5","ITEXT7","JASPER"]},"extension":{"type":"string"},"fileFormat":{"type":"string","enum":["PDF","CSV","PNG","JPEG","JPG","BMP","GIF","TIFF","TIF","WEBP","MP3","aac","AMR","OGG","OGG_PLUS","AUDIO_MP4","AUDIO_MPEG","MP4","VIDEO_3GPP","JSON","HTML","TEXT","UNKNOWN"]},"fileType":{"type":"string","enum":["IMAGE","VIDEO","AUDIO","TEXT","DOCUMENT"]},"headers":{"type":"object","additionalProperties":{"type":"string"}},"lang":{"type":"string"},"model":{"type":"object"},"name":{"type":"string"},"options":{"type":"object"},"password":{"type":"string"},"path":{"type":"string"},"template":{"type":"string"},"templateId":{"type":"string"},"title":{"type":"string"},"url":{"type":"string"}},"title":"PostManFile"},"TagDocument":{"type":"object","required":["categories","cities","countries","langs","locations","organizations","persons","sentimentScore","sentiments"],"properties":{"categories":{"type":"array","items":{"type":"string"}},"cities":{"type":"array","items":{"type":"string"}},"countries":{"type":"array","items":{"type":"string"}},"langs":{"type":"array","items":{"type":"string"}},"locations":{"type":"array","items":{"type":"string"}},"organizations":{"type":"array","items":{"type":"string"}},"persons":{"type":"array","items":{"type":"string"}},"sentimentScore":{"type":"integer","format":"int32"},"sentiments":{"type":"array","items":{"type":"string"}}},"title":"TagDocument"}}}