{
  "swagger": "2.0",
  "info": {
    "description": "All the requests are required to be authorized using an API Key authentication. \n Adding *x-api-key* in the header with your unique API Key as a value will grant access.\n To get your *x-api-key* [visit documentation](/server-xms/)",
    "version": "1.0 - 2025-08-06 06:15 UTC",
    "title": "Messaging APIs",
    "termsOfService": "Terms of service",
    "contact": {},
    "license": {
      "name": "Apache License Version 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "api.mehery.io",
  "basePath": "/xms",
  "tags": [
    {
      "name": "Configuration",
      "description": "API's for configuration management"
    },
    {
      "name": "Contact Management",
      "description": "Contact API can be used:\n* to modify contact details and prefs.\n"
    },
    {
      "name": "Digital Analytics",
      "description": "Analytics APIS"
    },
    {
      "name": "Inbound Requests",
      "description": "Inbound Request (Webhooks) can be used for:\n* Inbound Message Notifications: Use it to get a notification you when you have received a message.\n* Message Status Notifications: Monitor the status of sent messages.\nWebhook must be implemented by client and should be available on public internet"
    },
    {
      "name": "Media",
      "description": "API's to upload Media"
    },
    {
      "name": "MoEngage APIs",
      "description": "API's to MoEngage"
    },
    {
      "name": "Native API's Proxy",
      "description": "Use Native Structure for Channel API's"
    },
    {
      "name": "Outbound Messages",
      "description": "API's to send OutBound Messages"
    },
    {
      "name": "Session Management",
      "description": "Session API can be used:\n* to fetch all session messages.\nA session usually starts with first messages and stays active for 24 hours by default."
    },
    {
      "name": "XMS ViewConroller",
      "description": "API's for Messaging"
    }
  ],
  "paths": {
    "/api/moengage/v1/message/send": {
      "post": {
        "tags": [
          "MoEngage APIs"
        ],
        "summary": "Send Message",
        "description": "${swagger.MoengageApi.sendMessage.description}",
        "operationId": "sendMessageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "mapModel",
            "description": "mapModel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«OutBoundReciept,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/config/channels": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Channels List",
        "description": "List of all the configured channelsPass sandbox=true if you want sandbox channels also to be part of list",
        "operationId": "getChannelsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "sabdnox",
            "in": "query",
            "description": "sabdnox",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«MsgChannel,object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/config/global/vars": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Global Vars",
        "description": "List of global variables",
        "operationId": "getGlobalVarsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "channelId",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CompanyVarsConfigDoc,object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/config/tmpl/hsm": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "HSM Templates",
        "description": "List of all the configured templatesPass channelId=<channelId> if you want templates approved for specific channels",
        "operationId": "getHSMTemplatesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "channelId",
            "required": false,
            "type": "string"
          },
          {
            "name": "channelStatus",
            "in": "query",
            "description": "channelStatus",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«HSMTemplateDoc,object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/config/webhook": {
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Set Webhook",
        "description": "You must configure a callback (Webhook URL) to receive messages.\nTo deploy a live webhook that can receive webhook events, your code must have the following* HTTPS support* A valid SSL certificate",
        "operationId": "setWebhookUrlUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUrlRequest"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«ClientApp,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/contact/info": {
      "post": {
        "tags": [
          "Inbound Requests"
        ],
        "summary": "Contact Information",
        "description": "Contact Information : Use to respond with contact information for incoming message",
        "operationId": "onProfileCallbackUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "contactInfoRequest",
            "description": "contactInfoRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InBoundContact"
            }
          },
          {
            "name": "x-verify-token",
            "in": "header",
            "description": "Callback Verification Token",
            "required": false,
            "type": "string",
            "default": "s1agenttoken$$$"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactInfoUpdate"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/contact/prefs/lang": {
      "post": {
        "tags": [
          "Contact Management"
        ],
        "summary": "Contact Preferences",
        "description": "Update language prefs for Contact\t",
        "operationId": "sessionRoutingUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactPrefsUpdate"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«InBoundEvent,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/create/campaign": {
      "post": {
        "tags": [
          "Outbound Messages"
        ],
        "summary": "Create Campaign ",
        "description": "${swagger.OutboundApiV1.createCampaign.description}",
        "operationId": "createCampaignUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "campaignTitle",
            "in": "query",
            "description": "campaignTitle",
            "required": true,
            "type": "string"
          },
          {
            "name": "templateCode",
            "in": "query",
            "description": "templateCode",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignMode",
            "in": "query",
            "description": "campaignMode",
            "required": false,
            "type": "string",
            "enum": [
              "AGENT",
              "BOT",
              "DEFAULT"
            ]
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CampaignDto,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/data/push": {
      "post": {
        "tags": [
          "Digital Analytics"
        ],
        "summary": "Push Customer Data",
        "description": "This API can be used to upload customer details",
        "operationId": "dataPushUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "digitalObjectDto",
            "description": "digitalObjectDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigitalObjectDto"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«DigitalObjectDto,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/event/push": {
      "post": {
        "tags": [
          "Digital Analytics"
        ],
        "summary": "Push Customer Event",
        "description": "This API can be used to upload customer event",
        "operationId": "dataEventUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "digitalEventDto",
            "description": "digitalEventDto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigitalEventDto"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«DigitalEventDto,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/message/push": {
      "post": {
        "tags": [
          "Outbound Messages"
        ],
        "summary": "Send Message",
        "description": "Use the message API to push text messages, media, documents, and message templates to your customers\nYou can push messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "pushMessageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "message",
            "description": "message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiOutBoundMsg"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«OutBoundReciept,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/message/receive": {
      "post": {
        "tags": [
          "Inbound Requests"
        ],
        "summary": "Receive Notifications",
        "description": "Inbound Message Notifications: Use it to get a notification when you have received a message.",
        "operationId": "onMessageCallbackUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "inboxMessage",
            "description": "inboxMessage",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InBoundWrapper"
            }
          },
          {
            "name": "x-verify-token",
            "in": "header",
            "description": "Callback Verification Token",
            "required": false,
            "type": "string",
            "default": "s1agenttoken$$$"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InBoundWrapper"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/v1/message/send": {
      "post": {
        "tags": [
          "Outbound Messages"
        ],
        "summary": "Send Message",
        "description": "Use the message API to send text messages, media, documents, and message templates to your customers\nYou can send messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "sendMessageUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "message",
            "description": "message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiOutBoundMsg"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«OutBoundReciept,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/session/close": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Session Close",
        "description": "Close the active session\t",
        "operationId": "sessionCloseUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionStatusClose"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«InBoundEvent,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/session/messages": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Session Messages",
        "description": "use this api to fetch list of all messages for sessionId.\nyou can get _sessionId_ from inbound message body",
        "operationId": "getSessionMessagesPostUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionStatusClose"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«ChatMessageDTO,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/session/resolve": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Session Resolve",
        "description": "Resolve the active session, will leave the scope of closing session to end user\t",
        "operationId": "sessionResolveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionStatusClose"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«InBoundEvent,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/session/routing": {
      "post": {
        "tags": [
          "Session Management"
        ],
        "summary": "Session Routing",
        "description": "Assign session to different queue, all the future inbound messages will be sent to this queue\t",
        "operationId": "sessionRoutingUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "description": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SessionQueueAssignment"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResultsMetaCompactResponse«InBoundEvent,object»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/api/v1/view/campaign": {
      "get": {
        "tags": [
          "Outbound Messages"
        ],
        "summary": "View Campaign ",
        "description": "${swagger.OutboundApiV1.viewCampaign.description}",
        "operationId": "viewCampaignUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "campaignTitle",
            "in": "query",
            "description": "campaignTitle",
            "required": false,
            "type": "string"
          },
          {
            "name": "templateCode",
            "in": "query",
            "description": "templateCode",
            "required": false,
            "type": "string"
          },
          {
            "name": "campaignMode",
            "in": "query",
            "description": "campaignMode",
            "required": false,
            "type": "string",
            "enum": [
              "AGENT",
              "BOT",
              "DEFAULT"
            ]
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse«CampaignDto,object»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/channel/{channelId}/**": {
      "get": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API",
        "description": "Use the message API to send text messages, media, documents, and message templates to your customers\nYou can send messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "notiveUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "post": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API",
        "description": "Use the message API to send text messages, media, documents, and message templates to your customers\nYou can send messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "notiveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "put": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API",
        "description": "Use the message API to send text messages, media, documents, and message templates to your customers\nYou can send messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "notiveUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API",
        "description": "Use the message API to send text messages, media, documents, and message templates to your customers\nYou can send messages by making a POST call regardless of message type. The content of the JSON message body differs for each type of message (text, image, etc.).",
        "operationId": "notiveUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "channelId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    },
    "/integration/{key}/**": {
      "get": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API for Token",
        "operationId": "integrationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "post": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API for Token",
        "operationId": "integrationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "put": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API for Token",
        "operationId": "integrationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Native API's Proxy"
        ],
        "summary": "Native proxy API for Token",
        "operationId": "integrationUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "key",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "description": "API Key",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-api-id",
            "in": "header",
            "description": "API Id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MapModel"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "X_API_KEY": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "X_API_KEY": {
      "type": "apiKey",
      "name": "x-api-key",
      "in": "header"
    }
  },
  "definitions": {
    "ApiFieldError": {
      "type": "object",
      "required": [
        "body",
        "code",
        "codeKey",
        "codes",
        "description",
        "descriptionKey",
        "field",
        "obzect",
        "possibleValues"
      ],
      "properties": {
        "body": {
          "type": "object"
        },
        "code": {
          "type": "string"
        },
        "codeKey": {
          "type": "string"
        },
        "codes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "descriptionKey": {
          "type": "string"
        },
        "field": {
          "type": "string"
        },
        "obzect": {
          "type": "string"
        },
        "possibleValues": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "title": "ApiFieldError"
    },
    "ApiOutBoundMsg": {
      "type": "object",
      "required": [
        "channelId",
        "contacts",
        "location",
        "mask",
        "to",
        "type"
      ],
      "properties": {
        "activity": {
          "type": "object"
        },
        "audio": {
          "$ref": "#/definitions/OutBoundMsgMedia"
        },
        "campaignId": {
          "type": "string",
          "example": "campaignId",
          "description": "campaign",
          "enum": [
            "Represents the details associated with a specific campaign"
          ]
        },
        "channelId": {
          "type": "string",
          "example": "91SERVICENUMBER",
          "description": "The ID that identifies the channel over which the message should be sent."
        },
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommonMsgContactCard"
          }
        },
        "document": {
          "$ref": "#/definitions/OutBoundMsgMedia"
        },
        "image": {
          "$ref": "#/definitions/OutBoundMsgMedia"
        },
        "location": {
          "$ref": "#/definitions/CommonMsgLocation"
        },
        "mask": {
          "type": "boolean",
          "example": false,
          "description": "Mask the outgoing message data"
        },
        "messageIdResend": {
          "type": "string",
          "example": "gBEGkYiEB1VXAglK1ZEqA1YKPrU",
          "description": "Messsage to be resent"
        },
        "options": {
          "$ref": "#/definitions/CommonMsgOptions"
        },
        "push": {
          "type": "object"
        },
        "style": {
          "type": "object"
        },
        "template": {
          "$ref": "#/definitions/CommonTemplateMeta"
        },
        "text": {
          "$ref": "#/definitions/OutBoundMsgText"
        },
        "timeout": {
          "$ref": "#/definitions/MessageTimeout"
        },
        "to": {
          "description": "Either a channel-specific identifier for the receiver (e.g. MSISDN for SMS or WhatsApp channels), or email.",
          "$ref": "#/definitions/OutBoundContact"
        },
        "type": {
          "type": "string",
          "example": "text",
          "description": "message-type",
          "enum": [
            "audio",
            "document",
            "image",
            "location",
            "system",
            "text",
            "video",
            "voice",
            "contacts",
            "template",
            "optin",
            "optout"
          ]
        },
        "video": {
          "$ref": "#/definitions/OutBoundMsgMedia"
        }
      },
      "title": "ApiOutBoundMsg"
    },
    "ApiPagination": {
      "type": "object",
      "required": [
        "lastPage",
        "nextPageUrl",
        "pageNo",
        "pageSize",
        "prevPageUrl",
        "sortBy",
        "sortDir",
        "total"
      ],
      "properties": {
        "lastPage": {
          "type": "integer",
          "format": "int64"
        },
        "nextPageUrl": {
          "type": "string"
        },
        "pageNo": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "prevPageUrl": {
          "type": "string"
        },
        "sortBy": {
          "type": "string"
        },
        "sortDir": {
          "type": "string"
        },
        "total": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ApiPagination"
    },
    "ApiResponse«Attachment,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/Attachment"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«Attachment,object»"
    },
    "ApiResponse«CampaignDto,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/CampaignDto"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CampaignDto"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«CampaignDto,object»"
    },
    "ApiResponse«ClientApp,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/ClientApp"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientApp"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«ClientApp,object»"
    },
    "ApiResponse«CompanyVarsConfigDoc,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/CompanyVarsConfigDoc"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanyVarsConfigDoc"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«CompanyVarsConfigDoc,object»"
    },
    "ApiResponse«DigitalEventDto,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/DigitalEventDto"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigitalEventDto"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«DigitalEventDto,object»"
    },
    "ApiResponse«DigitalObjectDto,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/DigitalObjectDto"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigitalObjectDto"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«DigitalObjectDto,object»"
    },
    "ApiResponse«HSMTemplateDoc,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/HSMTemplateDoc"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HSMTemplateDoc"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«HSMTemplateDoc,object»"
    },
    "ApiResponse«OutBoundReciept,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/OutBoundReciept"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundReciept"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«OutBoundReciept,object»"
    },
    "ApiResponse«OutboxMessage,object»": {
      "type": "object",
      "required": [
        "data",
        "details",
        "error",
        "errors",
        "exception",
        "extra",
        "logs",
        "message",
        "messageKey",
        "meta",
        "pagination",
        "params",
        "path",
        "query",
        "redirectUrl",
        "results",
        "serverVersion",
        "status",
        "statusKey",
        "timestamp",
        "traceid",
        "traces",
        "warningKey",
        "warnings"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/OutboxMessage"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "error": {
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        },
        "exception": {
          "type": "string"
        },
        "extra": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "params": {
          "type": "object"
        },
        "path": {
          "type": "string",
          "example": "/postman/email/send"
        },
        "query": {
          "type": "object"
        },
        "redirectUrl": {
          "type": "string",
          "example": "/go/to/some/other/url.html"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutboxMessage"
          }
        },
        "serverVersion": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        },
        "traces": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "warningKey": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiFieldError"
          }
        }
      },
      "title": "ApiResponse«OutboxMessage,object»"
    },
    "ApiResultsMetaCompactResponse«ChatMessageDTO,object»": {
      "type": "object",
      "required": [
        "message",
        "messageKey",
        "meta",
        "pagination",
        "results",
        "status",
        "statusKey",
        "timestamp",
        "traceid"
      ],
      "properties": {
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChatMessageDTO"
          }
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        }
      },
      "title": "ApiResultsMetaCompactResponse«ChatMessageDTO,object»"
    },
    "ApiResultsMetaCompactResponse«InBoundEvent,object»": {
      "type": "object",
      "required": [
        "message",
        "messageKey",
        "meta",
        "pagination",
        "results",
        "status",
        "statusKey",
        "timestamp",
        "traceid"
      ],
      "properties": {
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InBoundEvent"
          }
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        }
      },
      "title": "ApiResultsMetaCompactResponse«InBoundEvent,object»"
    },
    "ApiResultsMetaCompactResponse«MsgChannel,object»": {
      "type": "object",
      "required": [
        "message",
        "messageKey",
        "meta",
        "pagination",
        "results",
        "status",
        "statusKey",
        "timestamp",
        "traceid"
      ],
      "properties": {
        "message": {
          "type": "string",
          "example": "This is success message in plain english"
        },
        "messageKey": {
          "type": "string",
          "example": "MESSAGE_SUCCESS:MOBILE:12"
        },
        "meta": {
          "type": "object"
        },
        "pagination": {
          "$ref": "#/definitions/ApiPagination"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MsgChannel"
          }
        },
        "status": {
          "type": "string",
          "example": 200
        },
        "statusKey": {
          "type": "string",
          "example": "SUCCESS"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64",
          "example": 1541276788518
        },
        "traceid": {
          "type": "string"
        }
      },
      "title": "ApiResultsMetaCompactResponse«MsgChannel,object»"
    },
    "ApprovedChannels": {
      "type": "object",
      "required": [
        "channelId",
        "status",
        "templateId"
      ],
      "properties": {
        "channelId": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "templateId": {
          "type": "string"
        }
      },
      "title": "ApprovedChannels"
    },
    "Attachment": {
      "type": "object",
      "required": [
        "attachmentId",
        "drive",
        "mediaCaption",
        "mediaCode",
        "mediaId",
        "mediaIdExt",
        "mediaIdInline",
        "mediaMimeType",
        "mediaName",
        "mediaSrc",
        "mediaSubType",
        "mediaTemplate",
        "mediaTemplateStyle",
        "mediaType",
        "mediaURL"
      ],
      "properties": {
        "attachmentId": {
          "type": "string",
          "example": "23m234233232323",
          "description": "Unique Attachment Id"
        },
        "drive": {
          "type": "string",
          "example": "Drive02",
          "description": "Drive Code"
        },
        "mediaCaption": {
          "type": "string",
          "example": "Transaction Receipt",
          "description": "Media Caption"
        },
        "mediaCode": {
          "type": "string",
          "example": "ABC_PROMO",
          "description": "QuickMedia Code"
        },
        "mediaId": {
          "type": "string",
          "example": "23m234233232323",
          "description": "Media ID generated by Service"
        },
        "mediaIdExt": {
          "type": "string",
          "example": "23m234233232323ext",
          "description": "Media ID generated by Channel"
        },
        "mediaIdInline": {
          "type": "string",
          "example": "23m234233232323inline",
          "description": "Media ID used by Message for inline/part of body content"
        },
        "mediaMimeType": {
          "type": "string",
          "example": "image/png",
          "description": "Mime Type"
        },
        "mediaName": {
          "type": "string",
          "example": "TransactionReceipt.pdf",
          "description": "File Name"
        },
        "mediaSrc": {
          "type": "string",
          "example": "https://client.service.com/docs/media/12.png",
          "description": "Media URL generated by Channel"
        },
        "mediaSubType": {
          "type": "string",
          "example": "IMAGE",
          "description": "Media SubType Type",
          "enum": [
            "STORY_MENTION",
            "SHARE",
            "bg_voice etc"
          ]
        },
        "mediaTemplate": {
          "type": "string",
          "example": "Hi <b>John</b>, this is your <i>image</i>",
          "description": "Media Template"
        },
        "mediaTemplateStyle": {
          "type": "string",
          "example": "background-color:white;width:400px;min-height:200px",
          "description": "Media Template Wrapper"
        },
        "mediaType": {
          "type": "string",
          "example": "IMAGE",
          "description": "Media Type",
          "enum": [
            "IMAGE",
            "DOCUMENT",
            "TEXT",
            "PDF",
            "VIDEO",
            "URL",
            "AUDIO"
          ]
        },
        "mediaURL": {
          "type": "string",
          "example": "https://client.service.com/docs/media/12.png",
          "description": "Media URL generated by Service"
        }
      },
      "title": "Attachment"
    },
    "BasicExternalTemplate": {
      "type": "object",
      "required": [
        "code",
        "template",
        "varMap"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "template": {
          "type": "object"
        },
        "varMap": {
          "type": "object"
        }
      },
      "title": "BasicExternalTemplate"
    },
    "CampaignDto": {
      "type": "object",
      "required": [
        "campaignId",
        "campaignMode",
        "campaignTitle",
        "channelId",
        "contactType",
        "templateCode"
      ],
      "properties": {
        "campaignId": {
          "type": "string"
        },
        "campaignMode": {
          "$ref": "#/definitions/Enum"
        },
        "campaignTitle": {
          "type": "string"
        },
        "channelId": {
          "type": "string"
        },
        "contactType": {
          "type": "string"
        },
        "templateCode": {
          "type": "string"
        }
      },
      "title": "CampaignDto"
    },
    "ChatMessageDTO": {
      "type": "object",
      "required": [
        "action",
        "attachments",
        "bulkSessionId",
        "contact",
        "form",
        "logs",
        "messageId",
        "messageIdExt",
        "messageIdRef",
        "messageIdResend",
        "messageTimestamp",
        "messageTrail",
        "meta",
        "name",
        "options",
        "referral",
        "replyId",
        "replyIdExt",
        "route",
        "sender",
        "sessionId",
        "stamps",
        "status",
        "tags",
        "template",
        "templateId",
        "text",
        "timeout",
        "timestamp",
        "type",
        "vccards"
      ],
      "properties": {
        "action": {
          "type": "string"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "bulkSessionId": {
          "type": "string"
        },
        "contact": {
          "$ref": "#/definitions/ContactDTO"
        },
        "form": {
          "type": "object"
        },
        "logs": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "messageId": {
          "type": "string"
        },
        "messageIdExt": {
          "type": "string"
        },
        "messageIdRef": {
          "type": "string"
        },
        "messageIdResend": {
          "type": "string"
        },
        "messageTimestamp": {
          "type": "integer",
          "format": "int64"
        },
        "messageTrail": {
          "type": "string"
        },
        "meta": {
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "options": {
          "type": "object"
        },
        "referral": {
          "$ref": "#/definitions/MessageReferral"
        },
        "replyId": {
          "type": "string"
        },
        "replyIdExt": {
          "type": "string"
        },
        "route": {
          "$ref": "#/definitions/MessageRouter"
        },
        "sender": {
          "type": "string"
        },
        "sessionId": {
          "type": "string"
        },
        "stamps": {
          "type": "object",
          "additionalProperties": {
            "type": "integer",
            "format": "int64"
          }
        },
        "status": {
          "type": "string"
        },
        "tags": {
          "$ref": "#/definitions/TagDocument"
        },
        "template": {
          "type": "string"
        },
        "templateId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "timeout": {
          "$ref": "#/definitions/MessageTimeout"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "type": {
          "type": "string"
        },
        "vccards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PBVCard"
          }
        }
      },
      "title": "ChatMessageDTO"
    },
    "ChatProfileDTO": {
      "type": "object",
      "required": [
        "code",
        "contactId",
        "email",
        "id",
        "labels",
        "mobile",
        "name",
        "profileId",
        "userId"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "contactId": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerLabel"
          }
        },
        "mobile": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "profileId": {
          "type": "string"
        },
        "userId": {
          "type": "string"
        }
      },
      "title": "ChatProfileDTO"
    },
    "ChronoScheduler": {
      "type": "object",
      "required": [
        "data",
        "endAt",
        "interval",
        "repeat",
        "repeatCount",
        "startAt",
        "taskId",
        "topic"
      ],
      "properties": {
        "data": {
          "type": "object"
        },
        "endAt": {
          "type": "string"
        },
        "interval": {
          "type": "string"
        },
        "repeat": {
          "type": "boolean"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int64"
        },
        "startAt": {
          "type": "string"
        },
        "taskId": {
          "type": "string"
        },
        "topic": {
          "type": "string"
        }
      },
      "title": "ChronoScheduler"
    },
    "ClientApp": {
      "type": "object",
      "required": [
        "agentApp",
        "appHook",
        "appHookFrwrd",
        "appMode",
        "appType",
        "config",
        "customApp",
        "disabled",
        "feedbackApp",
        "forward",
        "id",
        "key",
        "keyName",
        "keyVersion",
        "preDefinedBot",
        "props",
        "queue",
        "readOnly",
        "secret",
        "shared",
        "timeOutPossible",
        "type",
        "version",
        "webhook",
        "webhookApp"
      ],
      "properties": {
        "agentApp": {
          "type": "boolean"
        },
        "appHook": {
          "type": "string"
        },
        "appHookFrwrd": {
          "type": "string"
        },
        "appMode": {
          "type": "string"
        },
        "appType": {
          "type": "string"
        },
        "config": {
          "type": "object"
        },
        "customApp": {
          "type": "boolean"
        },
        "disabled": {
          "type": "boolean"
        },
        "feedbackApp": {
          "type": "boolean"
        },
        "forward": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "keyVersion": {
          "type": "string"
        },
        "preDefinedBot": {
          "type": "boolean"
        },
        "props": {
          "type": "object"
        },
        "queue": {
          "type": "string"
        },
        "readOnly": {
          "type": "boolean"
        },
        "secret": {
          "type": "object"
        },
        "shared": {
          "type": "boolean"
        },
        "timeOutPossible": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int64"
        },
        "webhook": {
          "type": "string"
        },
        "webhookApp": {
          "type": "boolean"
        }
      },
      "title": "ClientApp"
    },
    "CommonMsgContactCard": {
      "type": "object",
      "required": [
        "addresses",
        "birthday",
        "emails",
        "ims",
        "name",
        "org",
        "phones",
        "urls"
      ],
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundMsgContactAddress"
          }
        },
        "birthday": {
          "type": "string"
        },
        "emails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundMsgContactEmail"
          }
        },
        "ims": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundMsgContactSocial"
          }
        },
        "name": {
          "$ref": "#/definitions/OutBoundMsgContactName"
        },
        "org": {
          "$ref": "#/definitions/OutBoundMsgContactOrg"
        },
        "phones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundMsgContactPhone"
          }
        },
        "urls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutBoundMsgContactUrl"
          }
        }
      },
      "title": "CommonMsgContactCard"
    },
    "CommonMsgLocation": {
      "type": "object",
      "required": [
        "address",
        "latitude",
        "longitude",
        "name",
        "url"
      ],
      "properties": {
        "address": {
          "type": "string",
          "example": "1 Hacker Way, Menlo Park, CA, 94025",
          "description": "Address Text"
        },
        "latitude": {
          "type": "string",
          "example": 12.90909,
          "description": "latitude"
        },
        "longitude": {
          "type": "string",
          "example": 6.90808,
          "description": "longitude"
        },
        "name": {
          "type": "string",
          "example": "Main Building",
          "description": "location-name"
        },
        "url": {
          "type": "string",
          "example": "Location URL",
          "description": "location-url"
        }
      },
      "title": "CommonMsgLocation"
    },
    "CommonMsgOptions": {
      "type": "object",
      "required": [
        "buttonDisplayScheme",
        "buttons",
        "style"
      ],
      "properties": {
        "buttonDisplayScheme": {
          "type": "string",
          "example": "auto",
          "description": "Button Display Scheme",
          "enum": [
            "auto",
            "list",
            "buttons"
          ]
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TmplElement"
          }
        },
        "style": {
          "type": "string"
        }
      },
      "title": "CommonMsgOptions"
    },
    "CommonTemplateMeta": {
      "type": "object",
      "required": [
        "linked"
      ],
      "properties": {
        "code": {
          "type": "string",
          "example": "FEEDBACK",
          "description": "Code of Template",
          "notes": "Template Code will be searched in the repository and match will be served.\n code will be ignored in case template.id is provided"
        },
        "data": {
          "type": "object",
          "example": {
            "amount": 10,
            "currency": "INR"
          },
          "description": "Data will be used to resolve placeholders in template, in case of missing value blank will be attempted, \n Kindly note Template may be rejected in case it does not match the approved format"
        },
        "id": {
          "type": "string",
          "example": "60d236c6142e53561cb7716c",
          "description": "Unique Template Id",
          "notes": "Explicit template.id to be used for message"
        },
        "lang": {
          "type": "string",
          "example": "en_US",
          "description": "Language of Template to pick",
          "notes": "Language is an optional param which fallback to en, in all the scenarios of missing params/template\n lang will ignored when template.id is provided"
        },
        "linked": {
          "type": "string"
        }
      },
      "title": "CommonTemplateMeta"
    },
    "CompanyVarsConfigDoc": {
      "type": "object",
      "required": [
        "description",
        "disabled",
        "domain",
        "empty",
        "group",
        "id",
        "key",
        "missing",
        "present",
        "primary",
        "server",
        "shared",
        "type",
        "value"
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        },
        "domain": {
          "type": "string"
        },
        "empty": {
          "type": "boolean"
        },
        "group": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "missing": {
          "type": "boolean"
        },
        "present": {
          "type": "boolean"
        },
        "primary": {
          "type": "boolean"
        },
        "server": {
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "type": {
          "type": "string"
        },
        "value": {
          "type": "object"
        }
      },
      "title": "CompanyVarsConfigDoc"
    },
    "ContactBusinessProfile": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "abc@xyz.com",
          "description": "Email Id collected from Business"
        },
        "name": {
          "type": "string",
          "example": "John Doe",
          "description": "Name collected from Business"
        },
        "phone": {
          "type": "string",
          "example": 919988776655,
          "description": "Mobile Number collected from Business"
        },
        "profileId": {
          "type": "string",
          "example": "C34567",
          "description": "Unique Id assigned to Contact by Core Business Application"
        }
      },
      "title": "ContactBusinessProfile"
    },
    "ContactDTO": {
      "type": "object",
      "required": [
        "channelType",
        "contactType",
        "country",
        "createdBy",
        "createdStamp",
        "csid",
        "emailVerified",
        "filters",
        "firstInBoundStamp",
        "firstOutBoundStamp",
        "keymap",
        "labelId",
        "lane",
        "lastInBoundStamp",
        "lastOptInStamp",
        "lastOutBoundStamp",
        "lastPushStamp",
        "lastReplyStamp",
        "phoneVerified",
        "prefix",
        "profile",
        "profilePic",
        "sessionId",
        "tenant",
        "userid"
      ],
      "properties": {
        "channelType": {
          "type": "string"
        },
        "contactId": {
          "type": "string",
          "example": "wa919876543210"
        },
        "contactType": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "createdBy": {
          "type": "string"
        },
        "createdStamp": {
          "type": "integer",
          "format": "int64"
        },
        "csid": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "example": "John.Doe@company.co"
        },
        "emailVerified": {
          "type": "boolean"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Map«string,object»"
          }
        },
        "firstInBoundStamp": {
          "type": "integer",
          "format": "int64"
        },
[...]
